# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --ignore
          - B6
          - --msg-filename
        stages: [ commit-msg ]
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.2
    hooks:
      - id: typos
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --
        language: system
        types: [ rust ]
      - id: cargo-clippy-all-features
        name: cargo-clippy-all-features
        language: system
        entry: >
          bash -c "cargo metadata --format-version=1 --no-deps
          | jq --raw-output '.packages[].name'
          | xargs -I{} cargo clippy --all-targets --all-features --package {} \
            -- -D future-incompatible -D let-underscore -D nonstandard-style \
               -D rust-2018-compatibility -D rust-2018-idioms \
               -D rust-2021-compatibility -D unused -D warnings"
        pass_filenames: false
        types: [ rust ]
      - id: cargo-clippy-no-default-features
        name: cargo-clippy-no-default-features
        language: system
        entry: >
          bash -c "cargo metadata --format-version=1 --no-deps
          | jq --raw-output '.packages[].name'
          | xargs -I{} cargo clippy --all-targets --no-default-features --package {} \
            -- -D future-incompatible -D let-underscore -D nonstandard-style \
               -D rust-2018-compatibility -D rust-2018-idioms \
               -D rust-2021-compatibility -D unused -D warnings"
        pass_filenames: false
        types: [ rust ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check
        args:
          - --fix
          - --exit-non-zero-on-fix
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - "hypothesis>=6.148.2,<7.0"
          - "pytest>=9.0.1,<10.0"
          - "setuptools-rust>=1.12.0,<2.0"
          - "types-setuptools"
          - "typing-extensions>=4.15.0,<5.0"
