[package]
name = "rithm"
description = "Arbitrary precision arithmetic."
license = "MIT"
repository = "https://github.com/lycantropos/rithm"
rust-version = "1.67"
version = "13.0.0"
edition = "2018"

[lib]
name = "rithm"
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "^0.19.0"
features = ["extension-module"]

[dependencies.pyo3-ffi]
version = "^0.19.0"
features = ["extension-module"]

[dependencies.traiter]
version = "^3.1.0"
features = ["numbers", "std"]

[build-dependencies]
pyo3-build-config = "^0.19.0"
