[package]
name = "rithm"
description = "Arbitrary precision arithmetic."
license = "MIT"
version = "10.3.0-alpha"
edition = "2018"

[lib]
name = "rithm"
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "^0.17.1"
features = ["extension-module"]

[dependencies.pyo3-ffi]
version = "^0.17.1"
features = ["extension-module"]

[dependencies.traiter]
version = "^0.1.0"
features = ["numbers", "std"]

[build-dependencies]
pyo3-build-config = "^0.17.1"
