[package]
name = "rithm"
description = "Arbitrary precision arithmetic."
license = "MIT"
license-file = "LICENSE"
version = "6.0.0"
edition = "2018"

[lib]
name = "rithm"
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "^0.16.4"
features = ["extension-module"]

[dependencies.pyo3-ffi]
version = "^0.16.4"
features = ["extension-module"]

[build-dependencies]
pyo3-build-config = "^0.16.4"
