[package]
name = "rithm"
description = "Arbitrary precision arithmetic."
license = "MIT"
repository = "https://github.com/lycantropos/rithm"
version = "11.0.0"
edition = "2018"

[lib]
name = "rithm"
crate-type = ["cdylib", "rlib"]

[dependencies.pyo3]
version = "^0.18.1"
features = ["extension-module"]

[dependencies.pyo3-ffi]
version = "^0.18.1"
features = ["extension-module"]

[dependencies.traiter]
version = "^2.0.0"
features = ["numbers", "std"]

[build-dependencies]
pyo3-build-config = "^0.18.1"
